/* 
    Document   : app
    Created on : 2010-11-20, 20:22:14
    Author     : azhai
    Description:
        Purpose of the stylesheet follows.
*/

body{ background: #F1EFE2; font-family: Verdana, sans-serif;}
