body {font-family: 'lucida grande', tahoma, verdana, arial, sans-serif; font-size: 12px; color:#484848; margin: 0; padding: 0; text-align: left; }

h1, h2, h3, h4 { font-family: "lucida grande",tahoma, Verdana, sans-serif;}
h1 {margin:0; padding:0; font-size: 24px;}
h2 {font-size: 20px;padding: 2px 10px 1px 0px;margin: 0 0 20px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h3 {font-size: 16px;padding: 2px 10px 1px 0px;margin: 0 0 20px 0; border-bottom: 1px solid #bbbbbb; color: #444;}
h4 {font-size: 13px;padding: 2px 10px 1px 0px;margin-bottom: 10px; border-bottom: 1px dotted #bbbbbb; color: #444;}
ul {list-style-type:none;margin:0;padding:0;background-color:#FFF;}
li {display:list-item}
input,select {margin-bottom: 1px;margin-top: 1px;vertical-align: middle;}


a {color:#385998;cursor:pointer;text-decoration:none;}

.clearfix {display:block;zoom:1;}
.clearfix:after {content:".";clear:both;display:block;font-size:0px;height:0px;line-height:0;visibility:hidden;}
* html .clearfix {height: 1%;}

#pageLogo {float: left;margin-left: -6px;}
#pageLogo a {background-image:url(/media/images/calf.png);background-color: #3B5998;background-position: -12px -222px;background-repeat: no-repeat;display: block;height: 41px;width: 133px;}

/* table */
table {border-spacing: 2px 2px;border-collapse: separate;position:relative;}
thead {border-color: inherit;display: table-header-group;vertical-align: middle;}
table.list {border: 1px solid #E4E4E4;border-collapse: collapse;width: 100%;}
.odd {background-color: #F6F7F8;}
tr {border-color: inherit;display: table-row;vertical-align: inherit;}
td, th {display: table-cell;vertical-align: inherit;}
td{padding:2px;line-height:24px;}
tbody {border-color: inherit;display: table-row-group;vertical-align: middle;}
table.list td.buttons {text-align: right;white-space: nowrap;width: 15%;position:relative;}
.buttons {font-size: 0.9em;position:relative;} 
table.list th {background-color: #EEE;padding: 8px 5px;white-space: nowrap;}
table.list ul li {float:left}
table.list ul li img {border:1px #ccc solid;}
table.list td.buttons a {padding-right: 10px;line-height:16px;height:16px;}
table.list td.buttons a {padding-top:5px;position:relative;padding:6px 8px 4px 25px;width:100%;}
textarea{-webkit-appearance: none;border: 1px solid #BDC7D8;border-bottom-left-radius: 0px 0px;border-bottom-right-radius: 0px 0px;border-top-left-radius: 0px 0px;border-top-right-radius: 0px 0px;font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 12px;padding: 3px;}
tfoot {border-color:inherit;display: table-header-group;vertical-align: middle;}
tfoot td {background:#eee}


.showloading {background: url(/media/images/loading.gif) no-repeat 0px 0px;left:50px;height: 11px;position: absolute;top:5px;width: 16px;}


#blueBar {background-color: #3B5998;height: 41px;left: 0px;position: absolute;width: 100%;z-index: -1;}
#allContainer { margin:0px auto;width:981px;}
#content {margin:0px;padding:0;}
#content {width:auto;}
#allContainer,#content {min-height: inherit};
#mainContainer {width:100%;display:block;margin-left:-1px;}
#leftcol {float:left;padding:20px 0px 0px 2px;width:179px;word-wrap:break-word;dispkay:block;}
#leftcol .navside li {position:relative;zoom:1;}
.navside .item,.navside .subitem {border-bottom:1px solid white;color:#333;display:block;line-height:12px;padding:4px 8px 3px 28px;position:relative;text-decoration:none;zoom:1;}
.navside .item .leftimg {left:5px;position:absolute;text-align:center;top:2px;width:16px;}
.navside .selectItem {background-color:#D8DFEA;font-weight:bold;}

.calfimage {background-image:url(/media/images/calf.png);background-repeat:no-repeat;display:inline-block;height:18px;width:16px;}
.spritemap_aanaup {background-repeat: no-repeat;display: inline-block;height: 18px;width: 16px;margin-right:5px;}
.leftimg {left:5px;position:absolute;text-align:center;top:2px;width:18px;}
.icon-add {background-position:-42px -89px;}
.icon-del {background-position:-20px -110px;}
.icon-lock {background-position:-162px -92px;margin-top:-12px;margin-left:80px;}
.icon-unlock {background-position:-4px -110px;border:1px #000 solid}
.icon-pic {background-position:-50px -72px;}
.icon-cx {background-position:-118px -72px;}
.icon-ex {background-position:-102px -72px;}
.icon-view {background-position:-101px -54px;}
.icon-all {background-position:-16px -54px;}

.fav {border:1px #ccc solid;width:716px;padding:20px;margin:5px 0;}


.roles h2 {border-bottom: 1px solid #BBB;color: #444;font-size: 16px;margin: 0px 0px 20px;padding: 2px 10px 1px 0px;}
.roles .contextual {padding:3px 8px 4px 28px;float: right;padding-right:5px;line-height:20px;min-height:20px;vertical-align:bottom;position:relative;}
.roles .contextual .leftimg {left:6px;position:absolute;text-align:center;top:3px;width:18px;}

.uiHeaderTopBorder {border-top: 1px solid #AAA;border-top-width: 1px;border-top-style: solid;border-top-color: #AAA;padding-top: 6px;border-color: #EEE;
margin: 8px 0px 0px 6px;
padding: 7px 6px 3px 5px;
padding-top: 6px;
}

.divropose  {border:1px;}
.divropose  div {width:90%;height:60px;border:1px #ccc solid;padding:5px;}


/* menu */
.menuspsz {background-position:-140px -36px;}
.menukc {background-position:-151px -56px;}
.menuxs {background-position:1px -56px;}

.menusup {background-position:-101px -56px;}

.menusz {background-position:-140px -36px;}
.menukc {background-position:-151px -56px;}

.menuxs {background-position:1px -56px;}
.menucus {background-position:-169px -56px;}
.menubb {background-position:-50px -56px;}


.menuadp {background-position:-57px -93px;}
.menuadu {background-position:-73px -93px;}
.menuadg {background-position:-90px -93px;}
.menuadr {background-position:-107px -93px;}
.menuadc {background-position:-144px -93px;}
.menuads {background-position:-126px -93px;}

.navside .item ul {background-color:#FFF;margin:0;padding:0;list-style-type: none;padding-top:5px;}
.loadingIndicator {background: url(/media/images/loading.gif) no-repeat 0px 0px;height: 11px;display:none;position: absolute;right: 5px;top: 5px;width: 16px;}
.loading .loadingIndicator{display:block}
.item:hover,.item:active, .item:focus,.subitem:hover,.subitem:active,.subitem:focus {background-color: #EFF2F7;text-decoration: none;}
.navside .subitem {padding-left: 37px;}

.home #leftcol{min-height:600px;}

#contentcol {color:#000;padding-left:25px;border-left:1px solid #B3B3B3;padding-right:15px;margin-left:181px;padding-top:15px;min-height:650px;border-right:1px #B3B3B3 solid;}
#contentcol ul.subitem {padding-left:37px;}

#pagefoot{width:980px;margin:0;padding:0;}
#pagefoot {clear:both;width:auto;margin-left:180px;}
#contentcourve {margin-left:1px;border:none;border:1px solid #B3B3B3;border-top:none;font-size:2px;height:8px;podition:relative;}
#footcontainer {border-top:1px solid #EEE;margin-bottom:30px;padding:8px;position:relative;}

#pageheader { color: #fff;width:981px;margin:0px auto;padding-top:10px;}
#headnav {line-height:30px;background-color:#627AAD;border-top:1px solid #1D4088;border-left:1px solid #1D4088;border-right:1px solid #1D4088;height:30px;margin-left:181px;}
#headnav .rfloat {float:right;padding-right:20px;width:300px;}
#headnav .rfloat ul li {float:right;color:#FFF;padding-left:20px}
#headnav .rfloat ul li a {color:#FFF;font-weight:bold;}
.required {color: #B00;margin:0px 5px;}
.ss {color: #c1c1c1;margin:0px 5px;font-size:12px;}
.sf {font-size:14px;}

.uiHeaderTitle {line-height: 20px;min-height: 20px;padding-bottom: 2px;vertical-align: bottom;}

.info{display:none;}
.showinfo {display:block;}

.hidesubrole ul{display:none;}

.iconerror{background-position:-160px -114px;}
.iconwarning{background-position:-160px -114px;}
.iconsuccess{background-position:-141px -114px;}

.error,.success,.warning {margin:10px 0px 12px 0px;padding: 14px 14px 14px 30px;margin-bottom: 12px;font-size: 1.1em; border: 2px solid;}
.error { background-color: #ffe3e3;border-color: #dd0000; color: #880000;}
.success {background-position:141px 114px;background-color: #dfffdf;border-color: #9fcf9f; color: #005f00;}
.warning {background-position:160px 114px;background-color: #FFEBC1;border-color: #FDBF3B;color: #A6750C;text-align: left;}


.box {background-color: #F6F6F6;border: 1px solid #E4E4E4;color: #505050;padding: 6px;line-height: 2.5em;margin-bottom: 10px;}
.topbox {position: relative;background-color: #F6F6F6;border: 1px solid #E4E4E4;color: #505050;line-height: 2.4em;margin-bottom: 3px;padding: 6px;}
.topbox input{border:0px;}
.topbox .ipt{border: 1px solid #BDC7D8;margin:5px 0px 0px 2px;padding: 0px 4px 0px 0px;width:150px;float:left;}
.topbox .spipt  {padding-right:0px;background-image: url(/media/images/ps.gif);background-position:0 0;color: #3B5998;background-repeat: no-repeat;}

.box .boxitem {border-spacing:0;border:0;width:100%}
.box .boxitem ul li {float:left;padding:0px 5px;}
.box .boxitem td {border-bottom:1px #ddd solid;}
.box label {font-weight: normal;margin-left: 0px;text-align: left;}
.box label.floating {font-weight: normal;margin-left: 0px;text-align: left;width: 270px;}
.box legend {border: none;display: block;padding-left: 2px;padding-right: 2px;}
.box fieldset {border: 2px groove threedface;display: block;margin-bottom:20px;margin-left: 2px;margin-right: 2px;padding: 0.35em 0.75em 0.625em;}
.box a {padding:0px 5px;}
.btn {padding:10px 0px;position:relative;}
.showloading {top:15px};
.rolename {margin-bottom:10px;}

.loginbg {background:url(/media/images/loginbg1.jpg) transparent repeat-x bottom left;margin:0px;padding-top: 36px;}
#logincontent {width:981px;margin-left:auto;margin-right:auto;}
#login-top {height:100px;}
#login-top .bgdiv{background:url(/media/images/loginbd3.png) no-repeat;width:200px;height:60px;margin:30px 0 0 95px;}
#login-left { width:530px;min-height:500px;float:left;}
#login-left .bgdiv {background:url(/media/images/loginpng.png) 50% 50% no-repeat;height:280px;width:380px;margin-left:100px;margin-top:8px; }
#login-right {z-index:999;position: relative;float:left;min-height:300px;width:340px;padding-top:20px;padding-left:5px}
#login-right {font-size:14px;}
#login-right .field {padding-top: 5px;}
#login-right .field label {font-size:16px;;margin:8px 0px 0px 2px;display: inline-block;padding-right: 10px;text-align: right;width: 66px;float:left}
.login-text {border:0px;background:#fff;width:200px;font-size:16px;padding:6px}
#login-right .field #ptandard {background:#fff;border: 1px solid #BDC7D8;margin:0px 0px 0px 2px;padding: 0px 13px 0px 0px;width:200px;float:left}
#login-right .submit {padding:30px;}
#login-right .submitbtn {background: #609B2A url(/media/images/login00ee51.png) no-repeat 0px -32px;border: none;color: white;cursor: pointer;display: block;height: 26px;line-height: 26px;margin: 0px;padding: 0px 0px 3px;text-align: center;width: 71px;}

.captcha {backgroud:#fff}
.datelabel {position: relative;float:left;}
.datebox {border: 1px solid #BDC7D8;margin:5px 0px 0px 2px;padding: 0px 4px 0px 0px;float:left;width:105px;}

.inputtext {background-image: url(/media/images/date.gif);background-position:100% 50%;color: #3B5998;background-repeat: no-repeat;padding-right: 26px;padding-left: 2px;width: 75px;border: 0px;}

.dragDiv {background-color: #FFFFFF;display: none;position: absolute;	z-index: 200;}
.dragDiv {background: rgba(82, 82, 82, 0.699219);border-bottom-left-radius: 8px 8px;border-bottom-right-radius: 8px 8px;border-top-left-radius: 8px 8px;border-top-right-radius: 8px 8px;padding: 10px;}
#fullbg {position: absolute;display: none;z-index:100;left:0px;top: 0px;filter: Alpha(Opacity = 30);-moz-opacity: 0.4;opacity: 0.4;}

.pop_content {margin:0px;padding:0px;color:#000}
.pop_content h2.dialog_title {background: #6D84B4;border-bottom: none;border: 1px solid #3B5998;color: white;font-size: 15px;font-weight: bold;margin: 0px;padding:5px;}
.uiButton{background-color: #6D84B4;border:1px #29447E solid;cursor: pointer;display: inline-block;font-size: 12px;font-weight: bold;line-height: normal !important;padding: 2px 2px 0px 2px;text-align: center;text-decoration: none;vertical-align: top;white-space: nowrap;}

.uiButton input {width:40px;background-color: #6D84B4;color:#fff;border:0px;cursor: pointer;padding: 1px 0px 2px;white-space: nowrap;display: inline-block;font-weight: bold;margin: 0px;outline: none;}
.uiButton input:active {border:1px;}
.uiButton input:hover {border:1px;}

.dialog_buttons .cancel {background-color: #ccc;color:#000;border:1px #888 solid;cursor: pointer;}
.dialog_buttons .cancel input {background-color: #ccc;color:#000;cursor: pointer;}

.pop_content {background:#FFFFFF;}
.pop_content .dialog_content {background: white;border: 0px solid #555;border-top-width: 0px;}
.pop_content .dialog_buttons {background: #F2F2F2;padding-top: 5px;padding-bottom: 5px;padding-right:10px;position: relative;border:1px #E4E4E4 solid;text-align: right;}
.Sups_TextArea {border: none;font-size: 14px;height: 21px;margin: 0px;outline: none;padding: 0px;resize: none;vertical-align: bottom;width:520px;height:100px;cursor: auto;}
.Sups_InputShadow {border: 1px solid #8496BA;zoom: 1;width:520px;padding:5px;}


