/* 
Document :hots
Created on :2011-9-5,16:16:20
Author :azhai
Description:Purpose of the stylesheet follows.
*/
/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/* Left style */
#hots_context .left{float:left;width:690px;margin-right:5px;border:10px #000 solid;}
.abc-a h3,.hots-extra h3{background-image:url(/media/images/hotsbd.gif)}
.active,.notactive{background-image:url(/media/images/hots.gif);}
.abc-a{float:left;position:relative;height:auto;margin-top:20px;border:5px #FC9 solid;}
.abc-a h3{border-top:1px #000 solid;background-position:0 0;background-repeat:repeat-x;margin:0;padding:0;text-indent:20px;font-family:Arial;font-size:16px;font-weight:bold;height:35px;line-height:35px;border-bottom:1px dashed #CCC;}
.abc-a h3 a{color:#F60;float:left;}
.active{width:127px;height:109px;position:absolute;top:0;right:0;background-position:-156px -98px;background-repeat:no-repeat;}
* html .active{width:127px;}
.notactive{width:127px;height:111px;position:absolute;top:0;right:0;background-position:-156px -221px;background-repeat:no-repeat;}
* html .notactive{width:127px;}
.abc-a h3 div{borde:1px #000 solid;float:right;width:200px;height:30px;}
.abc-a .title{margin-bottom:10px;}
.abc-a .title p{padding:5px 0 5px 20px;font-weight:bold;}
.abc-a .hots_lists .abc-height150px{width:100%;clear:both;height:135px;background:#F8F5F2;margin-bottom:25px;}
.abc-a .hots_lists .abc-height150px li{width:130px;text-align:center;float:left;}
.abc-a .status{margin:30px 0 10px 10px;float:left;border-top:1px #DFC9B2 solid;padding:8px 15px;width:600px;}
.abc-height150px img{width:115px;height:75px;border:1px solid #EEE;margin-top:20px;}
.brandfontlist{float:left;width:680px;}
.brandfontlist li{float:left;width:133px;padding-left:15px;height:22px;line-height:22px;}
/* Right style */
#hots_context .right{float:left;width:220px;_display:inline;}
.hots-extra{margin-top:20px;border:1px #ccc solid;}
.hots-extra h3{margin:0;padding:0;text-indent:10px;font-family:Arial;font-size:14px;font-weight:bold;height:35px;line-height:35px;border-bottom:1px dashed #CCC;}
.hots-extra span{display:inline-block;}
.hots-extra span.h_no{width:20px;text-align:center}
.hots-extra span.flag1{font-weight:bold;color:#F60;}
.hots-extra span.flag2{font-weight:bold;color:#F60;}
.hots-extra span.flag3{font-weight:bold;color:#F60;}
.hots-extra span.h_amount{width:50px;text-align:right;}
.hots-extra span.h_name{width:100px;}
.hots-extra li{line-height:26px;padding:0 10px;}
