/* 
Document :tuan
Created on :2011-9-3,19:25:03
Author :azhai
Description:Purpose of the stylesheet follows.
*/
/* 
TODO customize this sample style
Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
#maincontent{background:#FFF5E5}
/* left style */
#tuan_context .left{float:left;width:710px;_display:inline;margin-right:10px;padding-left:10px;}
#deal-intro{padding:25px 10px 15px;margin:20px 0 20px 0;border:3px solid #FC9;background:white;}
* html #deal-intro{border:3px solid #FC9;}
#deal-intro .deal-price{background-image:url(/media/images/tuan.gif);}
#deal-intro .deal-price{position:absolute;z-index:2;left:-26px;width:307px;height:82px;line-height:82px;background-position:0 20px;background-repeat:no-repeat;}
#deal-intro .deal-price span a{display:block;width:115px;height:75px;line-height:53px;margin-top:19px;outline:0;}
.deal-discount{margin-left:5px;width:217px;margin-top:77px;border:1px solid #D9D9D9;background:white;font-weight:bold;}
#deal-intro .deal-price-tag{position:absolute;z-index:1;left:-55px;width:231px;height:82px;padding:20px 5px 30px 66px;}
.cf{zoom:1;}
.deal-timeleft{margin-left:5px;color:#333;margin-top:12px;border:1px solid #D9D9D9;background:white;padding:8px;width:199px;}
.deal-timeleft h3{font-size:12px;}
.deal-timeleft li{float:left;line-height:30px;padding-left:10px;font-size:16px;font-weight:bold;}
#deal-intro .side{float:left;width:405px;margin-right:0;}
.deal-status{margin:10px 0 10px 5px;padding:15px 8px;text-align:center;border:1px solid #D9D9D9;background:white;padding:8px;width:199px;}
.deal-buy-tip-top{line-height:1.2;margin-bottom:5px;font-size:18px;font-weight:bold;color:#999;}
.deal-buy-tip-top strong{color:#F60;}
.deal-buy-on{margin-bottom:5px;font-size:16px;font-weight:bold;}
.todydeal{z-index:900;position:relative;}
#deal-intro h1.indextitle{padding:0 50px 20px;font-size:20px;font-weight:bold;line-height:1.2;white-space:normal;overflow:auto;word-wrap:break-word;word-break:normal;font-family:'寰�蒋���',arial,sans-serif;}
#deal-intro .main{float:left;width:237px;margin-right:5px;_margin-right:5px;_display:inline;font-family:Helvetica,arial,sans-serif;}
#deal-intro .deal-buy{position:relative;}
#deal-intro .deal-price strong{float:left;padding:23px 20px 0 45px;font-size:26px;color:white;font-weight:normal;line-height:50px;}
#deal-intro .deal-price span{position:absolute;z-index:2;top:0;left:193px;color:white;}
#team_images{width:440px;margin-bottom:0px;height:280px;overflow:hidden;}
.deal-share-links{float:left;width:440px;height:23px;padding:7px 0 0 0;overflow:hidden;}
#deal-intro .side .digest{margin-top:15px;margin-left:25px;padding-left:10px;padding-right:35px;color:#666;}
#deal-intro .side .digest li{line-height:20px;font-size:14px;}
/* Right style */
#tuan_context .right{float:left;width:230px;_display:inline;margin-right:10px;padding-left:10px;}
.sbox-content{background:white;overflow:hidden;margin:20px 0 20px 0;}
.sbox-content .bulletin{padding:10px 0 10px 10px;border-left:1px solid #FFC299;border-right:1px solid #FFC299;border-bottom:1px solid #FFC299;font-size:12px;}
.sbox-content .text{font-size:12px;height:70px;padding-top:10px;padding-left:15px;padding-right:10px;line-height:18px;color:#333;border-left:1px solid #FFC299;border-right:1px solid #FFC299;border-bottom:1px solid #FFC299;text-indent:0;}
.sbox-content .tip{padding:0;margin:0;}
.sbox-content h2{font-size:14px;padding:0;margin:0;background:url(/media/images/rightbg_2011-08-01.gif) no-repeat;height:39px;line-height:39px;color:#333;text-indent:10px;}
.sbox-content a{color:#F60;font-weight:normal;font-size:12px;display:block;margin-top:4px;}
.sbox-content .list{color:#626061;zoom:1;padding:0 10px;border-bottom:1px solid #FFC299;border-left:1px solid #FFC299;border-right:1px solid #FFC299;width:208px;overflow:hidden;}
.sbox-content .list li{padding:5px 0;line-height:2;}
.deal-consult-option{padding:5px 10px;border-left:1px solid #FFC299;border-right:1px solid #FFC299;}
.deal-consult-option .deal-consult-option-btn-count{float:left;width:95px;background:url(/media/images/ask_btn_bg.jpg) repeat-x;border:1px solid #CCC;height:23px;line-height:23px;padding:0px 10px 0px 10px;}
.deal-consult-option a{margin-top:0;}
.deal-consult-option .deal-consult-option-btn-post{float:right;width:60px;background:url(/media/images/ask_btn_bg.jpg) repeat-x;border:1px solid #CCC;height:23px;line-height:23px;padding:0 10px;margin:0 0 0 5px;text-align:center;}
