<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

<ul class="tree clearfix" style="clear: both; margin-left: 15px;">
	<li><input type="checkbox" id="sz"> <label>基本设置</label>
	   <ul>
		  <li><input type="checkbox"> <label>商品设置</label>
		  <ul>
			<li><input type="checkbox" id="rolecheck" name="add" value="add">
			<label>新增</label></li>
			<li><input type="checkbox" id="rolecheck" name="del" value="del">
			<label>删除</label></li>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>展会设置</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="add" value="add">
			<label>新增</label></li>
			<li><input type="checkbox" id="rolecheck" name="del" value="del">
			<label>删除</label></li>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="cus"> <label>订单管理</label>
	<ul>
		<li><input type="checkbox"> <label>商品订货</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>商品购物车</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>订单查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>配送单查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>单据下载</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="mt"> <label>展会区</label>
	<ul>
		<li><input type="checkbox"> <label>参加展会</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>展会订单</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>展会信息</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>投诉建议</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="dis"> <label>促销区</label>
	<ul>
		<li><input type="checkbox"> <label>新品上架</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>促销推荐商品</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>参与团购</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>秒杀专区</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="mb"> <label>会员专区</label>
	<ul>
		<li><input type="checkbox"> <label>会员活动</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>会员积分兑换</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>会员社区</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="sup"> <label>供货商管理</label>
	<ul>
		<li><input type="checkbox"> <label>展会管理</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>展会订单</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>意见反馈建议</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>库存查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>入库查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>退库查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>销售流向查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="bb"> <label>报表统计</label>
	<ul>
		<li><input type="checkbox"> <label>会议订单</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>销售统计</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="his"> <label>医院部</label>
	<ul>
		<li><input type="checkbox"> <label>品种查询</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
		<li><input type="checkbox"> <label>销售统计</label>
		<ul>
			<li><input type="checkbox" id="rolecheck" name="find"
				value="find"> <label>查询</label></li>
			<li><input type="checkbox" id="rolecheck" name="ex" value="ex">
			<label>导出</label></li>
		</ul>
		</li>
	</ul>
	</li>
	<li><input type="checkbox" id="sys"> <label>系统管理</label>
	<ul>
		<li><input type="checkbox"> <label>角色</label>
		<ul></ul>
		</li>
		<li><input type="checkbox"> <label>用户</label>
		<ul></ul>
		</li>
		<li><input type="checkbox"> <label>设置</label>
		<ul></ul>
		</li>
	</ul>
	</li>
</ul>

</body>
</html>